* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    font-family: 'Gill Sans';
}

body {
    width : 100%;
    height : 100vh;
}
.chat-container {
    width : 100%;
    height : 80%;
    background-color: rgb(57, 57, 58);
    display : flex;
    flex-direction: column;
    gap : 20px;
    font-size : 20px;
    overflow: auto;
}
.user-chat-box {
    width : 70%;
    position : relative;
    left : 30%;
    padding : 20px;
}
.user-chat-area {
    width : 90%;
    padding : 20px;
    background-color: rgb(0, 0, 0);
    color : rgba(233, 228, 228, 0.76);
    border-radius: 40px 0px 40px 40px;
    box-shadow: 2px 2px 10px black;
}
.ai-chat-box {
    width : 70%;
    position : relative;
}
.ai-chat-area {
    width : 90%;
    padding : 20px;
    background-color: rgba(0, 0, 0, 0.37);
    position : relative;
    left : 10%;
    color : rgba(233, 228, 228, 0.76);
    border-radius: 0px 40px 40px 40px;
    box-shadow: 2px 2px 10px black;

}
#user-image {
    position : absolute;
    right : 0;
    filter : drop-shadow(2px 2px 10px black);
}
#ai-image {
    position : absolute;
    left : 0;
    filter : drop-shadow(2px 2px 10px black)
}
.prompt-area {
    width : 100%;
    height : 20%;
    background-color: rgb(57, 57, 58);
    display : flex;
    align-items : center;
    justify-content : center;
    gap : 10px;
}
.prompt-area input {
    width : 50%;
    height: 80px;
    background-color : black;
    outline : none;
    border : none;
    padding : 20px;
    border-radius: 50px;
    font-size : 20px;
    filter : drop-shadow(2px 2px 10px black);

}
.prompt-area button {
    width : 70px;
    height : 70px;
    border-radius : 50px;
    color : white;
    background-color : black;
    border : none;
    filter : drop-shadow(2px 2px 10px black);
    cursor : pointer;
    transition : all 0.5s;
}

.prompt-area button:hover {
    background-color : rgba(0, 0, 0, 0.568);
}
#prompt {
    color : rgba(255, 255, 255, 0.726);
}
.load {
    filter: drop-shadow(2px 2px 100px black);
}
.choosing {
    width : 100%;
    height : auto;
    border-radius: 20px ;
}
.ImageAtBtn {
    width : 100%;
    height : 100%;
    border-radius: 50% ;
}
@media (max-width:600px) {
    .user-chat-area {
        width : 80%;
        left : 20%;
    }
}